---
import Layout from "../../layouts/Layout.astro";
import SectionPage from "../../components/ui/SectionPage.astro";
import Gallery from "../../components/gallery/Gallery.astro";
---

<Layout title="Gallery">
  <SectionPage
    title="Gallery SpaceX"
    description="Here you can see images of different moments"
    gradientColor="red"
  />
  <div class="mt-4">
    <Gallery />
  </div>
</Layout>
