---
import Layout from "../../layouts/Layout.astro";
import BackButton from "../../components/buttons/BackButton.astro";
import NextPageButton from "../../components/buttons/NextPageButton.astro";
import PrevPageButton from "../../components/buttons/PrevPageButton.astro";
import LauncheList from "../../components/list/LauncheList.astro";
import { getLaunches } from "../../services/api";

export async function getStaticPaths({ paginate }) {
  const launches = await getLaunches();
  // Genera páginas para nuestro array de astronautas, con 2 elementos por página
  return paginate(launches, { pageSize: 8 });
}
// Todos los datos paginados se pasan en la prop "page"
const { page } = Astro.props;



---

<Layout title="Launches">
    <div class="bg-gradient py-8">
      <div class="container w-2/3 mx-auto text-start">
        <BackButton />
        <h1 class="mt-4 text-4xl font-bold text-white">Launches</h1>
        <p class="mt-4 first-letter:text-lg text-slate-300">
          Here you can find all the launches.
        </p>
        <h2 class="mt-2 text-white text-md ">Page {page.currentPage}</h2>
      </div>
      
    </div>
    <div class="mt-4">
      <LauncheList list={page.data} />
    </div>
    <div class="flex justify-evenly mb-20">
      <PrevPageButton page={page.url.prev} />
      <NextPageButton page={page.url.next} />
    </div>

</Layout>

<style>
  .bg-gradient {
    background-image: var(--accent-blue-black);
  }
</style>
