---
import { type NavigationItem } from "../../types/navigation";

const { name, path } = Astro.props;
---

<li class="link-card text-white">
  <a href={path} class="glass-effect">
    <h2 class="text-center md:text-start">
      {name}
      <span>&rarr;</span>
    </h2>
  </a>
</li>

<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    border-radius: 7px;
    transition-duration: 250ms;
  }
  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    transition-duration: 250ms;
  }
  h2 {
    margin: 0;
    font-weight: 400;
    color: white;
    font-size: 1.6rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  span {
    margin-top: 0.5rem;
    margin-bottom: 0;
    transition-duration: 200ms;
  }
  /* Estilos para el efecto de vidrio */
  .glass-effect {
    background-color: #985afd94;
  }
  .glass-effect:is(:hover, :focus-within) {
    background-color: #8c44ff85;
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(59, 94, 236);
    font-weight: 700;
  }
  .link-card:is(:hover, :focus-within) span {
    margin-left: 12px;
  }
</style>
