---
import ItemCard from "./NavigationItem.astro";
import { navigation } from "../../data/index";
---

<div class="filter-box col-span-3 my-6 mx-8 lg:mx-20 ">
  <p class="filter-text">Navigation:</p>
  {
    (
      <ul role="list" class="link-card-grid">
        {navigation.map((item) => (
          <ItemCard {...item} />
        ))}
      </ul>
    )
  }
</div>

<style>
  .filter-box {
    border: 2px solid rgba(167, 139, 250, 0.5);
    color: white;
    background-image: var(--accent-violet-black);
    padding: 1rem;
    border-radius: 8px;
  }
  .filter-text {
    margin-left: 1em;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  @media (max-width: 768px) {
    .link-card-grid {
      grid-template-columns: 1fr;
    }
    .filter-text{
      text-align: center;
    }
  }
</style>
../skeletons/launch/data/index