---
import Layout from "../../layouts/Layout.astro";
import BackButton from "../../components/buttons/BackButton.astro";
import Gallery from "../../components/gallery/Gallery";
import { type Rocket } from "../../types/api/api-rocket";
import { getRocketById } from "../../services/api";
import RocketDetails from "../../components/details/RocketDetails.astro";
import { getStaticRoutesForRockets } from "../../services/getStaticRoutes";

let { id } = Astro.params;
let rocket: Rocket;
if (id) {
  try {
    rocket = await getRocketById(id);
  } catch (e) {
    console.log(e);
  }
}
export function getStaticPaths() {
  return getStaticRoutesForRockets();
}
---

<Layout title={`Launch ${rocket?.name}`}>
  <div class="flex flex-col mx-4">
    <div class="mb-6">
      <BackButton />
    </div>
    <RocketDetails rocket={rocket} />
    <h3 class="text-2xl font-semibold text-white ml-8 mb-4">
      - Rocket gallery
    </h3>
    <div class="mt-6">
      <Gallery images={rocket?.flickr_images} client:idle />
    </div>
  </div>
</Layout>
