---
import Layout from "../../layouts/Layout.astro";
import SectionPage from "../../components/ui/SectionPage.astro";
import Gallery from "../../components/gallery/Gallery.astro";
import { type Rocket } from "../../types/api/api-rocket";
import { getRocketById } from "../../services/api";
import RocketDetails from "../../components/details/RocketDetails.astro";
import { getStaticRoutesForRockets } from "../../services/getStaticRoutes";

let { id } = Astro.params;
let rocket: Rocket;
if (id) {
  try {
    rocket = await getRocketById(id);
  } catch (e) {
    console.log(e);
  }
}
export function getStaticPaths() {
  return getStaticRoutesForRockets();
}
---

<Layout title={`Launch ${rocket?.name}`}>
  <SectionPage
    title="Rocket Detail"
    accentTitle={rocket?.name}
    toBack="/rockets"
    gradientColor="deep-orange"
  />
  <div class="container mx-auto">
    <RocketDetails rocket={rocket} />
    <h3 class="mb-4 text-2xl font-semibold text-white">- Rocket gallery</h3>
    <Gallery images={rocket?.flickr_images} />
  </div>
</Layout>
