---
import Layout from "../../layouts/Layout.astro";
import SectionPage from "../../components/ui/SectionPage.astro";
import { type Capsule } from "../../types/api/api-capsule";
import CapsuleDetails from "../../components/details/CapsuleDetails.astro";
import { getCapsuleById } from "../../services/api";
import { getStaticRoutesForCapsules } from "../../services/getStaticRoutes";

const { id } = Astro.params;
let capsule: Capsule = await getCapsuleById(id);

export async function getStaticPaths() {
  return await getStaticRoutesForCapsules();
}
---

<Layout title={`Capsule ${capsule?.serial}`}>
  <SectionPage
    title={`Capsule Detail`}
    accentTitle={capsule?.serial}
    toBack="/capsules"
    gradientColor="deep-purple"
  />
  <div class="container mx-auto">
    <CapsuleDetails capsule={capsule} />
  </div>
</Layout>
