---
import Layout from "../../layouts/Layout.astro";
import BackButton from "../../components/buttons/BackButton.astro";
import { type Capsule } from "../../types/api/api-capsule"
import CapsuleDetails from "../../components/details/CapsuleDetails.astro";
import {getCapsuleById } from "../../services/api"
import { getStaticRoutesForCapsules } from "../../services/getStaticRoutes";

const {id} = Astro.params;
let capsule: Capsule = await getCapsuleById(id);


export async function getStaticPaths() {
  return await getStaticRoutesForCapsules();
}
---
<Layout title={`Capsule ${capsule?.serial}`}>
  <div class="fllex flex-col justify-center items-center px-4 py-8 text-slate-300">
    <div class="ml-6 mb-6">
  <BackButton />
    </div>
  <CapsuleDetails capsule={capsule} />
  </div>

</Layout>